<div class="dialog-container">
  <div class="dialog-header">
    <h2>{{ isEditMode ? 'Editar cliente:' : 'Criar cliente:' }}</h2>
    <button mat-icon-button (click)="onCancel()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="dialog-content">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome" formControlName="name">
        <mat-error *ngIf="clientForm.get('name')?.hasError('required')">
          Nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Salário</mat-label>
        <input matInput type="number" placeholder="Digite o salário" formControlName="salary">
        <mat-error *ngIf="clientForm.get('salary')?.hasError('required')">
          Salário é obrigatório
        </mat-error>
        <mat-error *ngIf="clientForm.get('salary')?.hasError('min')">
          Salário deve ser maior que zero
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Valor da Empresa</mat-label>
        <input matInput type="number" placeholder="Digite o valor da empresa" formControlName="companyValuation">
        <mat-error *ngIf="clientForm.get('companyValuation')?.hasError('required')">
          Valor da empresa é obrigatório
        </mat-error>
        <mat-error *ngIf="clientForm.get('companyValuation')?.hasError('min')">
          Valor da empresa deve ser maior que zero
        </mat-error>
      </mat-form-field>
    </div>

    <div class="dialog-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="clientForm.invalid || isSubmitting">
        {{ isEditMode ? 'Atualizar' : 'Criar' }} cliente
      </button>
    </div>
  </form>
</div>