/*/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.success-snackbar {
  background-color: green;
  color: white;
}

.error-snackbar {
  background-color: red;
  color: white;
}

.warning-snackbar {
  background-color: orange;
  color: white;
}

